<template>
  <div>
    <h2>Currency Calculator</h2>
    <div class="container-fluid p-2 d-flex justify-content-center">
      <currency-calculator
        @clearConversions="clearConversions"
        @logConversion="logConversion"
      ></currency-calculator>
    </div>
    <div v-for="log in logs" :key="log.hrkVal + log.startedTimeAt">
      <div>
        {{
          "HRK: " +
          log.hrkVal +
          " EUR: " +
          log.eurVal +
          " Time: " +
          log.startedTimeAt
        }}
      </div>
    </div>
  </div>
</template>

<script>
import CurrencyCalculator from "../components/CurrencyCalculator.vue";
export default {
  data() {
    return {
      logs: [],
    };
  },
  components: { CurrencyCalculator },
  methods: {
    logConversion(args) {
      this.logs.push(args);
    },
    clearConversions() {
      this.logs = [];
    },
  },
};
</script>
