<template>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Rate</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="c in conversions" :key="c.numericCode">
        <td>{{ c.name }}</td>
        <td>{{ c.rate }}</td>
        <td>{{ c.date }}</td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  data() {
    return {
      conversions: null,
    };
  },
  computed: {
    allConversions() {
      return this.$store.getters.getConversionTable;
    },
  },
  async created() {
    await this.$store.dispatch("getConversions");
    this.conversions = this.allConversions;
  },
};
</script>
