<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <page-info msg="Welcome to a Single Page Application" />
  </div>
</template>

<script>
import PageInfo from "../components/PageInfo.vue";

export default {
  name: "Home",
  components: {
    PageInfo,
  },
};
</script>
