<template>
  <div>
    <div v-if="startedTimeAt" class="form-group row">
      <h5 class="col-12 col-form-label">Current time :: {{ startedTimeAt }}</h5>
    </div>
    <div class="form-group row">
      <label for="hrk" class="col-5 col-form-label">HRK</label>
      <div class="col-6">
        <input
          type="number"
          class="form-control"
          placeholder="kn"
          v-model="hrkVal"
          @keyup="h2e"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="eur" class="col-5 col-form-label">EUR</label>
      <div class="col-6">
        <input
          type="number"
          class="form-control"
          placeholder="eur"
          v-model="eurVal"
          @keyup="e2h"
        />
      </div>
    </div>
    <div v-if="isBigValue">
      <h2>Woah, now that's a big conversion</h2>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button
        type="button"
        class="btn btn-secondary"
        @click.prevent="logConversion"
      >
        Log conversion
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        @click.prevent="clearConversions"
      >
        Clear conversions
      </button>
    </div>
  </div>
</template>

<script>
export default {
  emits: ["logConversion", "clearConversions"],
  data() {
    return {
      eurVal: 0,
      hrkVal: 0,
      startedTimeAt: null,
    };
  },
  methods: {
    e2h() {
      this.hrkVal = this.eurVal * 7.52;
    },
    h2e() {
      this.eurVal = this.hrkVal * 0.13;
    },
    logConversion() {
      this.$emit("logConversion", {
        eurVal: this.eurVal,
        hrkVal: this.hrkVal,
        startedTimeAt: this.startedTimeAt,
      });
    },
    clearConversions() {
      this.$emit("clearConversions", {});
    },
  },
  computed: {
    isBigValue: function () {
      return this.eurVal > 1000 || this.hrkVal > 7520;
    },
  },
  mounted() {
    window.setInterval(() => {
      this.startedTimeAt = new Date().toLocaleTimeString("hr-HR");
    }, 1000);
  },
};
</script>
